.paragraph{
    color:rgb(255, 0, 4);
    font-size:5rem;
    text-transform:uppercase;
    font-style:calc();
    text-decoration:underline;
    text-decoration-style:wavy;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}